<%= form_for(@buku) do |f| %>
    <%= f.label :title %> </br>
    <%= f.text_field :title %> </br>

    <%= f.label :name %> </br>
    <%= f.text_field :name %> </br>

    <%= f.label :page %> </br>
    <%= f.text_field :page %> </br>

    <%= f.submit  %> </br>
   
<% end %>