
<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<table border="1" class="table table-dark">
    <tr align = "center">
        <td >Title</td>
        <td>Name</td>
        <td>Page</td>
        <td>Action</td>
    </tr>
    <% @bukus.each do |buku| %>
    <tr>
      <td><%= buku.title %></td>
       <td><%= buku.name %></td>
       <td><%= buku.page %></td>
       <td><%= link_to 'Detail', buku_path(buku) %>
        | <%= link_to 'Edit', edit_buku_path(buku) %> 
        | <%= link_to 'Delete', buku_path(buku), method: :delete, data: {confirm: 'are you sure?'}%></td> 
    </tr>
    <% end %>
</table>

<%= link_to "New Buku", new_buku_path %>
