<%= form_for(@murid) do |f| %>
    <%= f.label :nama %> </br>
    <%= f.text_field :nama %> </br>

    <%= f.label :nis %> </br>
    <%= f.text_field :nis %> </br>

    <%= f.label :alamat %> </br>
    <%= f.text_field :alamat %> </br>

    <%= f.submit  %> </br>
   
<% end %>