
<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<table border="1" class="table table-dark">
    <tr align = "center">
        <td >Nama</td>
        <td>Nis</td>
        <td>Alamat</td>
        <td>Action</td>
    </tr>
    <% @murids.each do |murid| %>
    <tr>
      <td><%= murid.nama %></td>
       <td><%= murid.nis %></td>
       <td><%= murid.alamat %></td>
       <td><%= link_to 'Detail', murid_path(murid) %>
        | <%= link_to 'Edit', edit_murid_path(murid) %> 
        | <%= link_to 'Delete', murid_path(murid), method: :delete, data: {confirm: 'are you sure?'}%></td> 
    </tr>
    <% end %>
</table>

<%= link_to "New murid", new_murid_path %>
